<div class="jumbotron">
<h1 class="display-4"><%= @exam.date %></h1>
<hr class="my-4">
<p>
<strong>Glicose:</strong>
<%= @exam.glicose %>
</p>
<p>
<strong>Triglycerides:</strong>
<%= @exam.triglycerides %>
</p>

<p>
<strong>Cholesterol:</strong>
<%= @exam.cholesterol %>
</p>
<br/>
<%= link_to 'Edit', edit_exam_path(@exam), class:"btn btn-secondary" %> 
<%= link_to 'Back', exams_path, class:"btn btn-outline-secondary" %>

</div>




